:root{
  
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);

}
body {
  box-sizing: border-box;
  overflow-y: hidden;
  background-color: var(--Light-gray);
}
.attribution {
  display: flex;
  margin-top: 40px;
  height: 700px;
 
}

.card-container {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 55%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}
.card-container img {
  max-width: 100%;
  height: 180px;
  padding: 2px;
  margin: 2px;
  border-radius: 18px;
}
.qr-description {
  text-align: center;
}
.qr-description > h5 {
  font-size: 16px;
}
.qr-description > p {
  font-size: 14px;
}

/* <style>
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
</style> */
